.image {
  width: 50px;
}

.place-name {
  font-size: 18px;
  margin-top: 10px;
  cursor: pointer;
}

.place-distance {
  margin-top: 13px;
}

.place-open {
  width: fit-content;
  padding: 5px 30px;
  border-radius: 20px;
  color: #fff;
  width: 120px;
  text-align: center;
  margin-top: 7px;
}

.place-website {
  z-index: 99;
  margin-top: 12px;
  margin-left: 5px;
}

.more-icon {
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer;
}

.place-name:hover,
.more-icon:hover {
  color: #007bff;
}

@media (max-width: 767px) {
  .place-name {
    margin-top: 0;
  }
  .place-distance {
    margin-top: 0;
  }
  .place-open {
    margin-top: 0;
    width: 100%;
  }
  .place-website {
    margin-top: 0;
    text-align: center;
  }
}
