<div class="overview">
  <p class="overview-counter">{{ places.length }} places found near you</p>
  <div class="overview-buttons">
    <div class="btn-group custom">
      <label type="button" class="btn btn-not-pressed border-primary custom-btn" (click)="viewMode = 'list'">
        <img class="view-image" [src]="viewMode === 'list' ? '/assets/img/1x4_blue.png' :'/assets/img/1x4.png'" alt="line">
      </label>
      <label type="button" class="btn btn-not-pressed border-primary custom-btn" (click)="viewMode = 'grid2'">
        <img class="view-image" [src]="viewMode === 'grid2' ? '/assets/img/2x2_blue.png' :'/assets/img/2x2.png'" alt="grid2">
      </label>
      <label type="button" class="btn btn-not-pressed border-primary custom-btn" (click)="viewMode = 'grid4'">
        <img class="view-image" [src]="viewMode === 'grid4' ? '/assets/img/4x2_blue.png' :'/assets/img/4x2.png'" alt="grid4">
      </label>
    </div>
    <div class="btn-group custom">
      <label type="button" class="btn btn-not-pressed border-primary custom-btn" (click)="toggleFilter($event)">Distance {{this.sortMode === 'asc'? '▲' : '▼'}}</label>
      <label type="button" class="btn btn-not-pressed border-primary custom-btn" [ngClass]="{'btn-pressed ': openOnly}" (click)="openOnlyToggle($event)">Open only</label>
    </div>
    <label type="button" class="btn btn-success button-location" (click)="goToLocation()">To my location</label>
  </div>
</div>

<app-places-grid *ngIf="viewMode === 'grid2'" [places]="places" columns="2"></app-places-grid>
<app-places-grid *ngIf="viewMode === 'grid4'" [places]="places" columns="4"></app-places-grid>
<app-places-list *ngIf="viewMode === 'list'" [places]="places"></app-places-list>
