.button-location {
  margin-left: 5px;
}

.overview {
  position: relative;
}

.btn-not-pressed {
  background-color: #fff;
  color: #007bff;
}

.btn-pressed {
  background: #007bff;
  color: #fff;
}

.overview-counter {
  height: 40px;
  padding: 10px 15px;
  background-color: #6c757d;
  width: max-content;
  margin-top: 15px;
  color: #fff;
  border-radius: 20px;
}

.overview-buttons {
  position: absolute;
  right: 0;
  top: 0;
}

.btn-group.custom {
  margin-right: 5px;
}

.view-image {
  width: 40px;
}

@media (max-width: 767.9px) {
  .overview {
    height: 150px;
  }
  .overview-buttons {
    top: 50px;
    width: 100%;
  }
  .overview-counter {
    width: 100%;
    text-align: center;
  }
  .button-location {
    width: 100%;
    margin: 0;
  }
  .btn-group.custom {
    display: flex;
    margin-bottom: 5px;
  }
  .btn.custom-btn {
    flex: 1;
  }
}
