<div class="row" [ngClass]="{'justify-content-around': columns === '2'}">
  <div [ngClass]="columnClass" *ngFor="let place of places">
    <div class="card">
      <img class="card-img-top" src="{{place.photoUrl}}" alt="IMG">
      <div class="status" [ngClass]="getOpenStatus(place.isOpen).class">
        <p class="status-state" [ngClass]="getOpenStatus(place.isOpen).class">{{ getOpenStatus(place.isOpen).state }}</p>
      </div>
      <div class="card-body">
        <h5 class="card-title" (click)="viewDetails(place)">{{ place.name }}</h5>
        <p class="card-text">Distance: {{ place.distance }} m</p>
      </div>
      <a *ngIf="place.webPage !== ''" href="{{ place.webPage }}" class="btn btn-primary web-button">Website</a>
      <i class="material-icons more-icon" (click)="viewDetails(place)">
        open_in_new
      </i>
    </div>
  </div>
</div>
