<div class="row justify-content-around">
    <div [ngClass]="columnClass" *ngFor="let place of places">
      <div class="card">
        <img class="card-img-top" src="{{place.photoUrl}}" alt="IMG">
        <div class="status" [ngClass]="getOpenStatus(place.isOpen).class">
          <p class="status-state" [ngClass]="getOpenStatus(place.isOpen).class">{{ getOpenStatus(place.isOpen).state }}</p>
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ place.name }}</h5>
          <p class="card-text">Distance: {{ place.distance }} m</p>
          <a *ngIf="place.webPage !== ''" href="{{ place.webPage }}" class="btn btn-primary">Website</a>
        </div>
      </div>
    </div>
  </div>